{% extends "timetable/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="my-4 text-center">Add Data to Timetable</h2>
        <div class="mt-4 text-center">
            <a href="{% url 'add_course' %}" class="btn btn-primary mb-2">Add Course</a>
            <a href="{% url 'assign_course_to_class' %}" class="btn btn-info mb-2">Assign Course</a>
        </div>

        <div class="mt-4 text-center"> 
            <a href="{% url 'add_class' %}" class="btn btn-secondary mb-2">Add Class</a>
            <a href="{% url 'add_teacher' %}" class="btn btn-info mb-2">Add Teacher</a>   
            <a href="{% url 'manage_data' %}" class="btn btn-primary mb-2">Manage Data</a>
            <a href="{% url 'download_data' %}" class="btn btn-primary mb-2">Download Data</a>
            <a href="{% url 'upload_data' %}" class="btn btn-primary mb-2">upload Data</a>
            <a href="{% url 'assign_lab_schedule' %}" class="btn btn-primary mb-2">assign_lab_schedule</a>
    
        </div>
</div>
{% endblock %}
