{% extends "timetable/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="my-4 text-center">Dashboard</h2>
        
        <div class="mt-4 text-center">
            <a href="{% url 'add_course_offering' %}" class="btn btn-info mb-2">Course Offering</a>
            <a href="{% url 'assign_course_to_class' %}" class="btn btn-success mb-2">Assign Course</a>
            <a href="{% url 'assign_teacher_to_course' %}" class="btn btn-secondary mb-2">Assign Teacher</a>
            <a href="{% url 'assign_schedule' %}" class="btn btn-success mb-2 ">Assign Schedule</a>
            <a href="{% url 'add_data' %}" class="btn btn-secondary mb-2 ">Add Data</a> 
            <a href="{% url 'create_fyp' %}" class="btn btn-secondary mb-2 ">FYP Data</a> 
            <a href="{% url 'export_excel' %}" class="btn btn-secondary mb-2 ">export_excel</a> 
            <a href="{% url 'all_classes_timetable_pdf' %}" class="btn btn-secondary mb-2 ">Class's Timetable</a> 
            <a href="{% url 'all_teachers_timetable_pdf' %}" class="btn btn-secondary mb-2 ">Teacher's Timetable</a> 
                
        </div>

        <div class="mt-4 text-center">
            <a href="{% url 'class_timetable_selection' %}" class="btn btn-secondary mb-2 ">Class Timetable</a>    
            <a href="{% url 'teacher_timetable_selection' %}" class="btn btn-success mb-2 ">Teacher Timetable</a>
            <a href="{% url 'room_timetable_selection_view' %}" class="btn btn-info mb-2 ">Room wise Timetable</a>
            <a href="{% url 'all_days_timetable_pdf' %}" class="btn btn-info mb-2 ">Day wise Timetable</a>
            <a href="{% url 'delete_schedule' %}" class="btn btn-success mb-2 ">Delete Slot</a>
            <a href="{% url 'swap_schedules' %}" class="btn btn-secondary mb-2 ">Swap Slots</a>
            <a href="{% url 'move_schedule' %}" class="btn btn-secondary mb-2 ">Move Slots</a>
            <a href="{% url 'generate_timetable' %}" class="btn btn-secondary mb-2 ">generate_timetable</a>
            <a href="{% url 'all_rooms_timetable_pdf' %}" class="btn btn-secondary mb-2 ">Rooms Timetable PDF</a>
            
            
            

            
        </div>
</div>
{% endblock %}
